.Rproj.user
.Rhistory
.RData
.Ruserdata
.jpeg
.png
*.config
*.pyc
.idea
SQL/.dbeaver/*
*.ipynb_checkpoints/*
**/.ipynb_checkpoints/
*/*.ipynb_checkpoints/*
SQL/.project
logs/*
*/logs/*
data/*
/ansible/.ssh
my-env