version: '3'
services:
  postgres:
    build: ./postgres
    container_name: postgres_finance
    hostname: postgres_finance
    environment:
      - POSTGRES_USER=${PG_USR}
      - POSTGRES_PASSWORD=${PG_PWD}
      - POSTGRES_DB=${PG_DB}
      - POSTGRES_PORT=${PG_PORT}
    ports:
      - "${PG_PORT}:${PG_PORT}"
    volumes:
      - ./data:/var/lib/postgresql/data
    networks:
      - fin_app_network

  pgadmin:
    container_name: pgadmin4_container
    image: dpage/pgadmin4
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PG_ADMIN_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PG_ADMIN_PWD}
    ports:
      - "5050:80"
    networks:
      - fin_app_network

  app:
    build: ./python
    container_name: finance_app
    depends_on:
      - postgres
    volumes:
      - ./app:/usr/src/app
    environment:
        PG_PWD: ${PG_PWD}
        PG_USR: ${PG_USR}
        PG_DB: ${PG_DB}
        PG_PORT: ${PG_PORT}
        PG_HOST: postgres
        SIMFIN_API_KEY: ${SIMFIN_API_KEY}
    networks:
      - fin_app_network
    links:
      - postgres

networks:
  fin_app_network:
    name: fin_app_network
    driver: bridge


